extends layout

block content
  h1= title
  ul 
    for todo in todos
      li.listItem(class=todo.complete ? "complete": "")
        | Description: #{todo.description}
        | Complete: #{todo.complete}
    else 
      p s se encontro el obget 