extends layout

block content
  h1 Tareas
  ul 
    for todo in todos
      li
        | Description: #{todo.description}
        | Complete: #{todo.complete}
    else 
      p no se encontro el objeto