THE CONVERTED OUTPUG WILL APPEAR HERE

doctype html
head
    title Pug
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 TasTes
    #container.col
        p You are amazing
        p Pug is a terse and simple templating language.
div
  a.button(href='/tasks') Tasks
  br
  a.button(href='/notes') Notes