-var titlePrincipal = "facil y limpio"
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        .container-fluid
          div.nav
            div
              a= titlePrincipal 
              button(type="button")
                span salir
            div(id="navbarNavAltMarkup")
              div
                a(aria-current="page" href="#") Home
                a(href="#") Features
                a(href="#") Pricing
                button
                  a(href="/") HOME
    block content
