THE Este es el espacio de las notas

head
    title Pug
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 LISTA DE NOTAS
    #container.col
        ul
            p la primera nota
            p la segunda nota
            